RewriteEngine On
RewriteBase /golive 
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [E=RMSDIR:golive,NC,L]
RewriteRule !\.(js|ico|gif|jpg|png|css|xml|htm|html|rss)$ index.php [E=RMSDIR:golive,NC,L]