@charset "utf-8";

/* CSS Document */
/******************************** Menus *****************************************/
#cur-mod-image img {
	width: 1.2em;
	height: 1.2em;
	float: left;
	margin-right: 10px;
}

/*
#admin-menu {
	background: url(../images/graphics/bgr_menu.gif) repeat-x;
	height: 52px;
	width: 947px;
	margin-top: 15px;
	clear: both;
	float: left;
	padding: 0 10px;
	position: relative;
}

#admin-menu img.icons {
	padding-right: 15px;
}

#admin-menu a {
	text-decoration: none;
	font-weight: normal;
	display: block;
	white-space: nowrap;
	color: #ccc;
	text-transform: capitalize;
	padding:0 5px;
}

span.menu-span {
	border: solid 1px transparent;
	display: block;
	padding: 2px 5px;
}

li.daddy>span {
	background: url(../images/icons/link.gif) no-repeat 95% 50% !important;
}
 



#admin-menu ul.navigation {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	display: block;
}

#admin-menu li {
	position: relative;
	min-height: 10px;
	vertical-align: middle;
	float: left;
	list-style: none;
	display: block;
	padding-left:20px;
	min-width: 100px;
}

#admin-menu ul li {
	margin: 0 5px;
	padding:15px 0;
}

#admin-menu>ul>li {
	border: solid 2px transparent;
	padding: 15px 10px 1em 5px !important;
}

#admin-menu ul>li>a {
	display: block;
	list-style-type: none;
	padding: 0.5em 1em 0.5em 0em;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.5em;
	width: 100%;
}

#admin-menu ul ul li a {
	padding: 0.1em 5px 0.4em 5px;
	text-transform: none;
	font-size: 1em !important;
	line-height: 1.2em !important;
	text-transform: capitalize;
	color: #ccc;
}

#admin-menu ul li:hover {
	display: block;
	list-style-type: none;
}

#admin-menu ul ul li:hover {
	background-color: #fbec88;
}

#admin-menu ul ul li:hover a {
	color: #cd0a0a;
}

#admin-menu ul ul li a:hover {
	display: block;
	font-weight: bold;
	color: #cd0a0a !important;
}

#admin-menu>ul>li a:hover {
	color: #fbec88 !important;
}

#admin-menu ul ul ul li a {
	color: #ccc !important;
}

#admin-menu ul ul {
	position: absolute;
	top: 35px;
	display: none;
	left: 0px;
	width: 200px;
	background-color: #000;
	padding: 5px 0px !important;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

#admin-menu ul ul ul {
	top: -5px;
	left: 100%;
}

#admin-menu li:hover {
	z-index: 100;
	cursor: pointer;
}

****************** first level menus ****************
#admin-menu li:hover ul {
	display: block;
	padding-bottom: 0px;
}

#admin-menu li:hover ul li {
	display: block;
	clear: both;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

#admin-menu li:hover ul li:hover {
	border: none;
}

*********** second level menus ****************
#admin-menu li:hover ul ul {
	display: none;
}

#admin-menu li:hover ul,#admin-menu li li:hover ul,#admin-menu li li li:hover ul,#admin-menu li li li li:hover ul
	{
	display: block;
}

#admin-menu li li:hover ul li {
	display: block;
	top: 0;
}
*/